obj/
bin/
csx/
node_modules/
_ReSharper*
*.user
*.suo
node.exe
packages/
SolarTournament/SolarTournament/public/scene1.html
SolarTournament/SolarTournament/app.js.logs/
SolarTournament/SolarTournament/npm-debug.log

*.Local.cscfg
*.Cloud.cscfg
*.azurePubxml