div(id="fb-root")
script
    (function(d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=133855039997260"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));

h1 SolarTournament
section.css-table
    section.two-column

        section.cell
            h2 Hava fun!
            
            p SolarTournament demonstrates a bunch of technologies.<br />
                | But first of all: Let's have some fun<br />and enter the live <a href="/tournament"><b >multiplayer tournament</b></a>!

            h2 Screenshot
            
            p 
                a(href="/tournament")
                    img.screenshot(src="/images/screenshot_small.png")

        section.cell

            h2 This is demo code
            
            p The game is based on <a href="http://nodejs.org/">Node.js</a> and uses   
                | the <a href="http://expressjs.com">express</a> web development framework,
                | the <a href="https://github.com/visionmedia/jade/blob/master/Readme.md">Jade</a> template engine,
                | the <a href="http://learnboost.github.com/stylus/">Stylus</a> CSS engine and
                | <a href="http://socket.io/">Socket.IO</a> for WebSocket communication.
            
            p The client-side rendering utilizes CopperLicht 3D, a JavaScript WebGL libraray from <a href="http://www.ambiera.com">Ambiera</a>. 
                | Your browser has to support <a href="http://www.khronos.org/webgl/">WebGL</a> to generate interactive 3D graphics.
                | This game was tested with the latest versions of Chrome and Firefox.
                | We recommend Chrome for a smooth gameplay.
            
            p SolarTournament is 100% free and open source software.<br />
                | Why don't you just go to <a href="https://github.com/JohannesHoppe/SolarTournament">GitHub</a> and fork it?!

            p Stay informed: <b>Visit the <a href="https://www.facebook.com/SolarTournament" taget="_blank">facebook fanpage</a>!</b>

            p <div class="fb-like" data-href="https://www.facebook.com/SolarTournament" data-send="true" data-width="450" data-show-faces="true"></div><br />
            

