script
    var require = {
    
        baseUrl: "scripts"
    
    };
script(src='scripts/jam/require.js')
script 

    var debugGame = false;

    define('config', [], function() {
        return {
            socketUri  : '#{socketUri}',
            skyboxName : "skyboxSpace" 
        }
    });

    require(['domReady!',
             'init'], function (document, init) {

        init.start();
    });

h1 Tournament
section.css-table
  section.one-column


    //- START: game
    
    div#centerDiv
        canvas#gameCanvas(width="640", height="480")
            Sorry, your browser doesn't support canvas.

        div#gamehud

            p <span id="gametimeremaining"></span>&nbsp;
                | <span id="gamescore"></span>

            p <b>Cursor keys</b>: Look.&nbsp;
                | <b>Space</b>: Shoot.&nbsp;
                | <b>Shift</b>: Thrust

        div#cl_loadinglabel
            p Loading...


        dic#cl_nowebgl
            | Sorry, your browser does not appear to support WebGL (or it is disabled).
            | Here is a list of supported browsers:<br /><br /><a href="http://www.ambiera.com/copperlicht/browsersupport.html">Browser-List</a>
            
    
        div#infoplate.mainplate
            p <span id="infoplattext"></span><br/><br/>
              | <a id="backToMainMenuButton" href="javascript:void(0)">Back</a><br /><br />
              | <a href="/highscore">View Highscore</a>

        div#game_mainmenu.mainplate
            p Welcome to SolarTournament<br /><br /><a id="startGame" href="javascript:void(0)">Start New Game</a><br/><br/>
              | <a id="musicButton" href="javascript:void(0)">Enable/Disable Music</a>

    
    div#debug
        div#debugKeyboardWatcher
        div#debugPlayer
        div#debugSocket
                     
    audio#mainmenumusic(src="http://content.solartournament.com/audio/DST-SpaceClouds.ogg", loop="true", autobuffer="autobuffer")
    audio#explosion(src="audio/expl.ogg", autobuffer="autobuffer")
    audio#shootsound(src="audio/shoot.ogg", autobuffer="autobuffer")
    audio#gamemusic(src="http://content.solartournament.com/audio/DST-AngryRobotIII.ogg", autobuffer="autobuffer")


    //- END: game

//
    section.css-table
      section.three-column
        section.cell
          h3 Controls
          p Use A-W-S-D or the arrow keys to look around. 
        section.cell
          h3 Shoot
          p Hit the space key to shoot on objects.
        section.cell
          h3 Thrust
          p The shift key activates the gas engine thrust.
