h1 About

section.css-table
    section.two-column

        section.cell

            h2 Contact

            p Johannes Hoppe<br />Karl-Theodor-Str. 1A<br />68723 Plankstadt<br />GERMANY

            p <a href="http://www.haushoppe-its.de/">www.haushoppe-its.de</a><br />
                | <a href="http://blog.johanneshoppe.de/">blog.johanneshoppe.de</a><br />

            <p> Ust-IdNr.: DE 814631089

            h2 Credits

            p Many thanks to <a href="http://www.ambiera.com">Ambiera e.U.</a> for CopperLicht 3D, a JavaScript WebGL libraray which is available under the zlib License or in a commercial version.<br />
                | Thumbs up to <a href="http://www.facebook.com/people/Ingmar-Wietig/100000313448089">Ingmar Wietig</a>, who did the modeling and some mathematics.


        section.cell

            h2 zlib License

            div.copy 
                p Copyright &copy; 2012 Johannes Hoppe

                p This software is provided 'as-is', without any express or implied warranty.  In no event will the authors be held liable for any damages arising from the use of this software.

                p Permission is granted to anyone to use this software for any purpose, including commercial applications, and to alter it and redistribute it freely, subject to the following restrictions:

                p
                    <ol>
                    <li>The origin of this software must not be misrepresented; you must not claim that you wrote the original software. If you use this software in a product, an acknowledgment in the product documentation would be appreciated but is not required.</li>
                    <li>Altered source versions must be plainly marked as such, and must not be misrepresented as being the original software.</li>
                    <li>This notice may not be removed or altered from any source distribution.</li>
                    </ol>

                p The client side scripts were forked from the <a href="http://www.ambiera.com/copperlicht/">CopperLicht</a> demo files, which are Copyright &copy; 2009-2012 Nikolaus Gebhardt