<script src="/scripts/jam/jquery/jquery.js"></script>
<script src="/scripts/jquery.tmpl.min.js"></script>
<script src="/scripts/showHighscore.js"></script>

h1 Highscore

script#highscoreTemplate(type="text/x-jquery-tmpl")
    
    h2 ${score} points
    p  ${ getCounter() }. ${name}

div#highscorePlaceholder