h1 SolarTournament
section.css-table
    section.two-column
        section.cell
            h2 This is demo code
            p Solar Tournament demonstrates a bunch of technologies.
            p It bases on <a href="http://nodejs.org/">Node.js</a> and uses   
                | the <a href="http://expressjs.com">express </a> web development framework,
                | the <a href="https://github.com/visionmedia/jade/blob/master/Readme.md">Jade</a> template engine,
                | the <a href="http://learnboost.github.com/stylus/">Stylus</a> CSS engine and
                | <a href="http://socket.io/">Socket.IO</a> for WebSocket communictation.
            p The client-side rendering uses CopperLicht 3D, a JavaScript WebGL libraray from <a href="http://www.ambiera.com">Ambiera e.U.</a>.<br /><br />
        section.cell
            h2 Hava fun!
            p Let's enter the live <a href="/tournament"><b >multiplayer tournament</b></a>!