script(type='text/javascript') 
    var socketUri = '#{socketUri}';

//- local scripts
- scripts.push('/socket.io/socket.io.js');
- scripts.push('/scripts/clientGame.js');

h1 Tournament
section.css-table
  section.one-column
    
    p <br /><br /><br />Multiplayer. Coming soon.<br /><br /><br /><br /><br /><br />
    