script(type='text/javascript') 
    var socketUri = '#{socketUri}';

//- local scripts
- scripts.push('/socket.io/socket.io.js');
- scripts.push('/scripts/copperlicht.js');
- scripts.push('/scripts/languageEnhancements.js');

- scripts.push('/scripts/clientGame/cams/gameCam.js');
- scripts.push('/scripts/clientGame/cams/mainMenuCam.js');
- scripts.push('/scripts/clientGame/cams/thirdPersonCam.js');

- scripts.push('/scripts/clientGame/utils/copperlichtEnhancements.js');
- scripts.push('/scripts/clientGame/utils/gameMath.js');
- scripts.push('/scripts/clientGame/utils/randomizer.js');
- scripts.push('/scripts/clientGame/utils/sound.js');

- scripts.push('/scripts/clientGame/asteroidSpawner.js');
- scripts.push('/scripts/clientGame/gameLoop.js');
- scripts.push('/scripts/clientGame/gameLoader.js');
- scripts.push('/scripts/clientGame/htmlMenu.js');
- scripts.push('/scripts/clientGame/keyboardWatcher.js');
- scripts.push('/scripts/clientGame/playerBase.js');
- scripts.push('/scripts/clientGame/player.js');
- scripts.push('/scripts/clientGame/playerTwo.js');
- scripts.push('/scripts/clientGame/sceneTemplates.js');
- scripts.push('/scripts/clientGame/socket.js');
- scripts.push('/scripts/clientGame/world.js');

- scripts.push('/scripts/clientGame.js');


h1 Tournament
section.css-table
  section.one-column


    //- START: game
    
    div#centerDiv
        canvas#gameCanvas(width="640", height="480")
            Sorry, your browser doesn't support canvas.

        div#gamehud

            p <span id="gametimeremaining"></span>&nbsp;
                | <span id="gamescore"></span>

            p <b>Cursor keys</b>: Look.&nbsp;
                | <b>Space</b>: Shoot.&nbsp;
                | <b>Shift</b>: Thrust

        div#cl_loadinglabel
            p Loading...


        dic#cl_nowebgl
            | Sorry, your browser does not appear to support WebGL (or it is disabled).
            | Here is a list of supported browsers:<br /><br /><a href="http://www.ambiera.com/copperlicht/browsersupport.html">Browser-List</a>
            
    
        div#infoplate.mainplate
            p <span id="infoplattext"></span><br/><br/>
              | <a id="backToMainMenuButton" href="javascript:void(0)">Back</a>

        div#game_mainmenu.mainplate
            p Welcome to SolarTournament<br /><br /><a id="startGame" href="javascript:void(0)">Start New Game</a><br/><br/>
              | <a id="musicButton" onclick="disableMusic(!musicDisabled)" href="javascript:void(0)">Enable/Disable Music</a>

    
    div#debug
        div#debugKeyboardWatcher
        div#debugPlayer
        div#debugSocket

    audio#mainmenumusic(src="audio/menu_low.ogg", loop="true", autobuffer="autobuffer")
    audio#explosion(src="audio/expl.ogg", autobuffer="autobuffer")
    audio#shootsound(src="audio/shoot.ogg", autobuffer="autobuffer")
    audio#gamemusic(src="audio/game_low.ogg", autobuffer="autobuffer")


    //- END: game

//
    section.css-table
      section.three-column
        section.cell
          h3 Controls
          p Use A-W-S-D or the arrow keys to look around. 
        section.cell
          h3 Shoot
          p Hit the space key to shoot on objects.
        section.cell
          h3 Thrust
          p The shift key activates the gas engine thrust.
